<div class="container">

<!-- addWish() form -->
  <form>
    <label>Add your wish: </label>
    <input type="text" name="new-wish-text" [(ngModel)]="WishText">
    <button type="submit"
            (click)="$event.preventDefault(); addWish()">Add new wish</button>
  </form>

<!-- items display -->
  <wish-list
  [wishes]="visibleItems"
  ></wish-list>

<!-- items selector -->
  <select class="form-select"
          [(ngModel)]="listFilter"
  >
    <option value="0">All</option>
    <option value="1">Fulfilled</option>
    <option value="2">Unfulfilled</option>
  </select>

</div>
