<div class="container">

<!-- addWish() form -->
  <form>
    <label>Add your wish: </label>
    <input type="text" name="new-wish-text" [(ngModel)]="WishText">
    <button type="submit"
            (click)="$event.preventDefault(); addWish()">Add new wish</button>
  </form>

<!-- items display -->
  <div *ngIf="visibleItems.length === 0; else showItems">
    There are no wishes to display.
  </div>
  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of visibleItems; index as id">
        <div class="from-check">
          <label class="from-check-label">
            <input class="checkbox" type="checkbox"
                   [checked]="item.isComplete"
                   [attr.data-index]="id + 1"
                   (click)="toggleItem(item)">
            {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

<!-- items selector -->
  <select class="form-select"
          [(ngModel)]="listFilter"
  >
    <option value="0">All</option>
    <option value="1">Fulfilled</option>
    <option value="2">Unfulfilled</option>
  </select>

</div>
